@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#root {
  height: 100vh;
}

body, html {
  // padding: 5vh 5vw;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}




h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #1f0322;
}

h3, h4, a, p, ul, li {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}



#nav {
  display: flex;
  justify-content: flex-end;
  a {
    padding: 1vh 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    text-decoration: none;
    color: #f1e9db;
    
  }
}

.ui.top.fixed.menu.nav-bgd {
  background: #1f0322;
	// background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  
  // @keyframes gradient {
  //   0% {
  //     background-position: 0% 50%;
  //   }
  //   50% {
  //     background-position: 100% 50%;
  //   }
  //   100% {
  //     background-position: 0% 50%;
  //   }
  // }
}




.hero-section {
  height: 100vh;  
  background: linear-gradient(-45deg, #ff6666, #818aa3, #1f0322);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  h1 {
    font-size: 5em;
    color: #1f0322;
    
  
  }
  h2 {
    width: 60vw;
    font-size: 2em;
    color: #f1e9db;
  }
  .bio-highlight {
    color: #222a30;
    font-weight: bold;
  }
  
}
.title {
  font-family: 'Montserrat', sans-serif;
}
.hero-arrow-down {
  text-align: center;
  a {
    bottom: 12vh;
    position: absolute;
   
  }
}



// 
@import url(https://fonts.googleapis.com/css?family=Cabin);

$colorBg:  #222a30;
$colorOutline: #f1e9db; 
$colorOutlineFade: #4e5559;

$widthMouse: 52px;
$heightMouse: 88px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: infinite;

.mouse-container {
  display: flex;
  justify-content: center;
  p {
    margin-top: 50px;
    font-family: "Cabin", sans-serif;
    letter-spacing: 12px;
    text-indent: 12px;
    color: $colorOutline;
    animation: 
      colorText $animDuration ease-out 5s,
      nudgeText $animDuration ease-out 5s;
  }
}



@mixin bgGradient {
  background:
    $colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $colorOutline 50%,
      $colorOutline 100%
    );
}

// body {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background-color: $colorBg;
// }



.mouse {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 15vh;
  @include bgGradient;
  // position: relative;
  width: $widthMouse;
  height: $heightMouse;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: 
    colorSlide $animDuration linear 5s,
    nudgeMouse $animDuration ease-out 5s;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: $widthMouse - $borderMouse;
    height: $heightMouse - $borderMouse;
    background-color: $colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: $colorOutline;
    width: $sizeTrackball;
    height: $sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlide $animDuration linear 5s;
  }
}

@keyframes colorSlide { 
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: $colorOutlineFade; }
  29.99% { 
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  30% { 
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: $colorOutlineFade; }
  59% { 
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  60% { 
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: $colorOutlineFade; }
  90%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY($posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posMouse); }
  90% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY($posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText { 
  21% { color: $colorOutlineFade; }
  30% { color: $colorOutline; }
  51% { color: $colorOutlineFade; }
  60% { color: $colorOutline; }
  81% { color: $colorOutlineFade; }
  90% { color: $colorOutline; }
}

// About 
.about-container {
  height: 50vh;
  // padding: 3vh 3vw;
  h2 {
    padding-top: 5vh;
  }
  p {
    font-size: 1.3em;
  }
}
.header-title {
  // font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
}

// Projects 
.projects-container{
  margin-top: 3vh;
  h2 {
    text-align: center;
  }
  // width: 50vw;
  // display: flex;
  // flex-wrap: wrap;
}
.project-container {
  // width: 45vw;
  margin: 1em;
  margin-bottom: 3em;
  p {
    font-size: 1.2em;
  }
  h3 {
    font-family: 'Poppins', sans-serif;
  }
}
.readme-link {
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
    
  }
  a:hover {
    color: #818aa3;
  }

}
.aws-btn {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 329ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #000000;
  --loader-bar-height: 6px;
  }

  .slide-container > .awssld > .awssld__wrapper > .awssld__container > .awssld__box > .awssld__content > img {
    object-fit: contain;
    
  }

  .slide-container > .awssld > .awssld__wrapper > .awssld__container > .awssld__box > .awssld__content {
    background-color: inherit;
  }
  

  .project-info {
    margin-top: 6vh;
    // text-align: center;
  }

.project-tech {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
 
        list-style-type: none;
    }
  }
}


// Tech
.main-tech-container {
  height: 50vh;
}

.skills-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}

.tech-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3em;
  
}

.tech-logos{
  width: 60em;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em;
      list-style-type: none;
    
  }
  }
}

.tech-para {
  width: 30em;
  padding: 2em;
  align-self: baseline;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
}

// Experience
.experience-container {
  height: 50vh;
  margin-top: 5vh;
  h2 {
    text-align: center;
  }
  a{
    text-decoration: none;
    color: #ff6666;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: #818aa3;
  }
  h3, h4 {
    font-family: 'Poppins', sans-serif;
  }
}

//  Contact
.contact {
  height: 10vh;
  h2 {
    text-align: center;
    margin-bottom: 2vh;
  }
  
}
.contact-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
  a {
    
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    p {
      color: inherit;
      font-size: 1.2em;
      padding-left: 0.4em;
    }
  } 
  a:hover {
    text-decoration: none;
    color: #818aa3;
  }
}


footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3vh;
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: inherit;
  
  }
  a:hover {
    color: #818aa3;
  }
  p {
    margin-top: 3vh;
    text-transform: uppercase;
  }

}

.footer-icon {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}